In [7]:
from src.data_manipulation.data_cleanup import clean_json_file
from src.data_manipulation.data_cleanup import clean_data

inFile = 'zillow_all_listings_scraped.json'
outFile = 'zillow_all_listings_scraped_clean.csv'

df = clean_json_file(inFile)

In [8]:
df.head()

,price,bedrooms,bathrooms,sqft,city,state,latitude,longitude,homeType,homeStatus,...,features,ind_HasPool,ind_GolfCourseNearby,ind_ShoppingNearby,ind_Clubhouse,ind_RecreationNearby,ind_ParkNearby,ind_IsCornerLot,ind_IsCuldesac,price/sqft
1,499999.0,3.0,2.0,1689.0,Delta,BC,49.086514,-123.10376,SINGLE_FAMILY,FOR_SALE,...,"Adult Oriented, Marina Nearby, Recreation Near...",False,False,True,False,True,False,False,False,296.032564
2,1679000.0,4.0,4.0,2679.0,Delta,BC,49.089947,-123.09065,SINGLE_FAMILY,FOR_SALE,...,NA,False,False,False,False,False,False,False,False,626.726390
3,1390000.0,5.0,4.0,3316.0,Delta,BC,49.022392,-123.09127,SINGLE_FAMILY,FOR_SALE,...,NA,False,False,False,False,False,False,False,False,419.179735
4,5888000.0,8.0,8.0,8111.0,Delta,BC,49.014910,-123.09155,SINGLE_FAMILY,FOR_SALE,...,"Near Golf Course, Recreation Nearby, Shopping ...",False,True,True,False,True,False,False,False,725.927752
5,1998000.0,5.0,4.0,4701.0,Delta,BC,49.013058,-123.09160,SINGLE_FAMILY,FOR_SALE,...,"Near Golf Course, Greenbelt, Recreation Nearby...",False,True,True,False,True,False,False,False,425.015954

In [9]:
df.to_csv(outFile)